{% block contact_us %}
<main class="main">
    {% block breadcrumbs %}
    {% include 'components/breadcrumbs.html' %}
    {% endblock %}

    <section class="contact">
        <div class="container">
            <h3 class="contact__title">Обратная связь</h3>
            <div class="contact__box">
                <p class="contact__text">Напишите нам, если есть вопросы.</p>
                <div class="contact__city">188676, Ленинградская область, Всеволожский р-н, п Щеглово, Итальянская ул., д. 1
                </div>
            </div>

            <form class="contact__form" method="POST" id="ContactForm" action="">{% csrf_token %}
                {{ ContactForm.name }}
                {{ ContactForm.email }}
                {{ ContactForm.message_title }}
                {{ ContactForm.message_text }}
                <button class="contact__form-btn" type="submit">Отправить</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}
