{% block debtors_table %}

<main class="main">
  {% block breadcrumbs %}
  {% include 'components/breadcrumbs.html' %}
  {% endblock %}
  <div class="debtors">
    <div class="container">
      <div class="debtors__wrapper">
<!--        <h3 class="debtors__title">ДОЛЖНИКИ НА 02.02.22</h3>-->
          <table class="table">
            <thead>
            <tr>
              <th>№ платёжного поручения</th>
              <th>№ лицевого счёта</th>
              <th>Ежемесячный взнос/Последний оплаченный месяц</th>
            </tr>
            </thead>
            <tbody>
            {% for i in debtors %}
            <tr>
              <td>{{i.payment_order}}</td>
              <td>{{i.personal_account}}</td>
              <td>{{i.last_paid_month}}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
</main>
{% endblock %}