{% block elec_table %}

<main class="main">
        {% block breadcrumbs %}
        {% include 'components/breadcrumbs.html' %}
        {% endblock %}
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>№ участка</th>
                        <th>№ лицевого счета </th>
                        <th>счета  текущие показания день</th>
                        <th>текущие показания ночь</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>005/58200034</td>
                        <td>24359</td>
                        <td>12456</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>005/58200034</td>
                        <td>24359</td>
                        <td>12456</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>005/58200034</td>
                        <td>24359</td>
                        <td>12456</td>
                    </tr>
                </tbody>
            </table>
        </div>
</main>
{% endblock %}