{% block header %}
<header class="header">
    <div class="container">
        <a class="back_to_top" title="Наверх">↑</a>
        <div class="header__inner">
            <div class="menu">
                <div class="menu__btn">
                    <span></span><span></span><span></span>
                </div>
                <ul class="menu__list">
                    <form class="menu__list-item menu__list-form" method="POST" id="LoginForm" action="{% url 'login' %}">{% csrf_token %}
                        <li class="menu__list-item">{{ LoginForm.username }}</li>
                        <li class="menu__list-item">{{ LoginForm.password }}</li>
                    </form>
                    <li class="menu__list-item" onclick="LoginForm.submit();"><a class="menu__list-link">Вход</a></li>
                    <li class="menu__list-item"><a class="menu__list-link" href="{% url 'registration' %}">Регистрация</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
{% endblock %}