{% block header %}
{% load static %}


<header class="header">
    <div class="container">
        <a class="back_to_top" title="Наверх">↑</a>
        <div class="header__inner">
            <div class="menu">
                <button class="menu__btn">
                    <img  class="menu__img" src="{% static 'images/small_spb/icon_menu.svg' %}" alt="icon menu">
                </button>
                <ul class="menu__list">
                    <form class="menu__list-item menu__list-form" method="POST" id="LoginForm" action="{% url 'login' %}">{% csrf_token %}
                        <li class="menu__list-item">{{ LoginForm.username }}</li>
                        <li class="menu__list-item">{{ LoginForm.password }}</li>
                    </form>
                    <li class="menu__list-item" onclick="LoginForm.submit();"><a class="menu__list-link">Вход</a></li>
                    <li class="menu__list-item"><a class="menu__list-link" href="{% url 'registration' %}">Регистрация</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="rightside-menu rightside-menu--close">
    <button class="rightside-menu__close">
        <img src="{% static 'images/small_spb/close.svg' %}" alt="close">
    </button>
    <div class="menu-burger">
        <button class="menu__btn">
            <img  class="menu__img" src="{% static 'images/small_spb/icon_menu.svg' %}" alt="icon menu">
        </button>
    </div>
    <div class="rightside-menu__content">
        <ul class="rightside-menu__register-list">
            <form class="rightside-menu__register-item rightside-menu__register-form" method="POST" id="LoginForm_mob" action="{% url 'login' %}">{% csrf_token %}
                <li class="rightside-menu__register-item">{{ LoginForm.username }}</li>
                <li class="rightside-menu__registert-item">{{ LoginForm.password }}</li>
            </form>
            <li class="rightside-menu__register-item" onclick="LoginForm_mob.submit();"><a class="rightside-menu__register-link" href="#">Вход</a></li>
            <li class="rightside-menu__register-item"><a class="rightside-menu__register-link" href="{% url 'registration' %}">Регистрация</a></li>
        </ul>
        <h5 class="rightside-menu__title">Меню</h5>
        <ul>
            {% if request.user.is_authenticated %}
            <li class="rightside-menu__item">
                <a class="rightside-menu__link" href="{% url 'news' %}">Новости</a>
            </li>
            <li class="rightside-menu__item">
                <a class="rightside-menu__link" href="{% url 'electricity' %}">Показания эл.энергии </a>
            </li>
            <li class="rightside-menu__item">
                <a class="rightside-menu__link" href="{% url 'documents' %}">Документы</a>
            </li>
            <li class="rightside-menu__item">
                <a class="rightside-menu__link" href="{% url 'debstors' %}">Должники</a>
            </li>
            {% endif %}
            <li class="rightside-menu__item">
                <a class="rightside-menu__link" href="{% url 'gallery' %}">Галерея</a>
            </li>
            <li class="rightside-menu__item">
                <a class="rightside-menu__link" href="{% url 'faq' %}">Вопросы и ответы</a>
            </li>
            <li class="rightside-menu__item">
                <a class="rightside-menu__link" href="{% url 'feedback' %}">Обратная связь</a>
            </li>
            <li class="rightside-menu__item">
                <a class="rightside-menu__link" href="{% url 'content' %}">О нас</a>
            </li>


        </ul>

    </div>
</div>
{% endblock %}