            <div class="history" id="history">
                <h3 class="history__title">"Малый-Петербург" сегодня это:</h3>
                <div class="history__item" style="background-image: url('images/small_spb/kvartry-v-malyj-peterburg-1569.jpg');">
                    <div class="history__box">
                        <ul class="history__list">
                            <li class="history__list-item">32 га огороженной территории</li>
                            <li class="history__list-item">187 жилых домов, большинство семей проживают постоянно</li>
                            <li class="history__list-item">6 многоквартирных домов</li>
                            <li class="history__list-item">5,8 км асфальтированных дорог</li>
                            <li class="history__list-item">детские и спортивные площадки</li>
                            <li class="history__list-item">центральный водопровод, канализация, электричество, вывоз мусора</li>
                            <li class="history__list-item">регулярное обслуживание сетей и уборка территории поселка</li>
                        </ul>
                       <!-- <a class="history__list-link" href="">ПОДРОБНЕЕ</a> -->
                    </div>
                </div>
            </div> 