{% block news %}
<section class="news">
    <div class="container">
        <div class="news__inner">
            <h2 class="news__title">Новости</h2>
            {% for i in news %}
            <div class="news__item">
                <div class="news__wrapper">
                    <h3 class="news__item-title">{{i.title}}</h3>
                    <p class="news__item-text">{{i.text}}</p>
                </div>
                <p class="news__item-date">{{i.date}}</p>
                <button class="news-button">Полный текст</button>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}