{% block register_form %}
<div class="wrapper">
  <div class="form">
    <form method="POST" action="#" id="form" class="form__body">{% csrf_token %}
      <div class="form__item">
        <label for="formName" class="form__label">Логин*</label>
        {{ form.username }}
      </div>
      <div class="form__item">
        <label for="formName" class="form__label">Фамилия*</label>
        {{ form.last_name }}
      </div>
      <div class="form__item">
        <label for="formName" class="form__label">Имя*</label>
        {{ form.first_name }}
      </div>
      <div class="form__item">
        <label for="formName" class="form__label">Отчество*</label>
        {{ form.middle_name }}
      </div>
      <div class="form__item">
        <label for="formEmail" class="form__label">E-mail*</label>
        {{ form.email }}
      </div>
      <div class="form__item">
        <label for="formTell" class="form__label">Телефон*</label>
        {{ form.phone_number }}
      </div>
      <div class="form__item">
        <label for="formNumber" class="form__label">№ Участка*</label>
        {{ form.area_number }}
      </div>
      <div class="form__item">
        <label for="formPas" class="form__label">Пароль*</label>
        {{ form.password1 }}
      </div>
      <div class="form__item">
        <label for="formDublePas" class="form__label">Повторите пароль*</label>
        {{ form.password2 }}
      </div>
      <button type="submit" class="form__button">Отправить</button>
    </form>
  </div>
</div>
{% endblock %}