{% block services %}
{% load static %}

<section class="services">
    <div class="container">
        <div class="services__inner">
            <div class="services__slider">

                {% if request.user.is_authenticated %}
                <a class="services__item" href="{% url 'news' %}">
                    <div class="services__item-inner">
                        <img src="{% static 'images/small_spb/3.png' %}" alt="" class="services__item-img">
                        <h6 class="services__item-title">Новости</h6>
                    </div>
                </a>
                {% endif %}

                {% if request.user.is_authenticated %}
                <a class="services__item" href="{% url 'electricity' %}">
                    <div class="services__item-inner">
                        <img src="{% static 'images/small_spb/item-2.svg' %}" alt="" class="services__item-img">
                        <h6 class="services__item-title">Показания эл.энергии </h6>
                    </div>
                </a>
                {% endif %}

                {% if request.user.is_authenticated %}
                <a class="services__item" href="{% url 'documents' %}">
                    <div class="services__item-inner">
                        <img src="{% static 'images/small_spb/2.png' %}" alt="" class="services__item-img">
                        <h6 class="services__item-title">Документы</h6>
                    </div>
                </a>
                {% endif %}

                {% if request.user.is_authenticated %}
                <a class="services__item" href="{% url 'debstors' %}">
                    <div class="services__item-inner">
                        <img src="{% static 'images/small_spb/item-4.svg' %}" alt="" class="services__item-img">
                        <h6 class="services__item-title">Должники</h6>
                    </div>
                </a>
                {% endif %}

                <a class="services__item" href="{% url 'gallery' %}">
                    <div class="services__item-inner">
                        <img src="{% static 'images/small_spb/gallery.jpg' %}" alt="" class="services__item-img">
                        <h6 class="services__item-title">Галерея</h6>
                    </div>
                </a>

                <a class="services__item" href="{% url 'faq' %}">
                    <div class="services__item-inner">
                        <img src="{% static 'images/small_spb/item-1.svg' %}" alt="" class="services__item-img">
                        <h6 class="services__item-title">Вопросы и ответы</h6>
                    </div>
                </a>

                <a class="services__item" href="{% url 'feedback' %}">
                    <div class="services__item-inner">
                        <img src="{% static 'images/small_spb/6.png' %}" alt="" class="services__item-img">
                        <h6 class="services__item-title">Обратная связь</h6>
                    </div>
                </a>

                <a class="services__item" href="{% url 'content' %}">
                    <div class="services__item-inner">
                        <img src="{% static 'images/small_spb/5.png' %}" alt="" class="services__item-img">
                        <h6 class="services__item-title">О нас</h6>
                    </div>
                </a>

            </div>
        </div>
    </div>
</section>

{% endblock %}
