<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Показания электроэнергии</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
	 <link rel="stylesheet" href="css/reset.css">
	 <link rel="stylesheet" href="css/slick.css">
	  <link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__list-item"><a class="menu__list-link" href="#">Регистрация</a></li>
                    <li class="menu__list-item"><a class="menu__list-link" href="#">Вход</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<main class="main">
        <div class="breadcrumbs">
            <div class="container">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="#">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <p class="breadcrumbs__link breadcrumbs__link--cursor">Показания электроэнергии</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tables">
            <div class="container">
                <div class="tables__wrapper">
                    <div class="tables__inner">
                        <h3 class="tables__title">Показания электро энергии за 22.02.2022:</h3>
                        <ul class="tables__list">
                            <li class="tables__item"><a href="" class="tables__item-link">Показания уч 1- 50</a></li>
                            <li class="tables__item"><a href="" class="tables__item-link">Показания уч 51-100</a></li>
                            <li class="tables__item"><a href="" class="tables__item-link">Показания уч 101 -150</a></l>
                            <li class="tables__item"><a href="" class="tables__item-link">Показания уч 151-200</a></li>
                            <li class="tables__item"><a href="" class="tables__item-link">Показания уч 201-220</a></li>
                            <li class="tables__item"><a href="" class="tables__item-link">Показания многоквартирных домов</a></li>
                        </ul>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>№ участка</th>
                                <th>№ лицевого счета </th>
                                <th>счета  текущие показания день</th>
                                <th>текущие показания ночь</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>005/58200034</td>
                                <td>24359</td>
                                <td>12456</td> 
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>005/58200034</td>
                                <td>24359</td>
                                <td>12456</td> 
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>005/58200034</td>
                                <td>24359</td>
                                <td>12456</td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</main>




           

        












<footer class="footer">
    <div class="container">
        
        <div class="footer__inner">
           
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>