<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>galery</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
	 <link rel="stylesheet" href="css/reset.css">
	 <link rel="stylesheet" href="css/slick.css">
	 <link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header class="header">
        <div class="container">
           
            <div class="header__inner">
                <div class="menu">
                    <ul class="menu__list">
                        <li class="menu__list-item"><a class="menu__list-link" href="#">Регистрация</a></li>
                        <li class="menu__list-item"><a class="menu__list-link" href="#">Вход</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
	<main class="main">
		<div class="breadcrumbs">
			<div class="container">
				<ul class="breadcrumbs__list">
					<li class="breadcrumbs__item">
						<a class="breadcrumbs__link" href="#">Главная</a>
					</li>
					<li class="breadcrumbs__item">
						<p class="breadcrumbs__link breadcrumbs__link--cursor">Галерея</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="galery">
				<img class="galery__item-img" src="images/small_spb/prscr-1.PNG" alt="photo">
				<img class="galery__item-img" src="images/small_spb/prscr-1.PNG" alt="photo">
				<img class="galery__item-img" src="images/small_spb/prscr-1.PNG" alt="photo">
				<img class="galery__item-img" src="images/small_spb/prscr-1.PNG" alt="photo">
				<img class="galery__item-img" src="images/small_spb/prscr-1.PNG" alt="photo">
				<img class="galery__item-img" src="images/small_spb/prscr-1.PNG" alt="photo">
				<img class="galery__item-img" src="images/small_spb/prscr-1.PNG" alt="photo">
				


			</div>
			
		</div>

	</main>
	<footer class="footer">
		<div class="container">
			<div class="footer__inner">			
			</div>
		</div>
	</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>