<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<!--  Шапка  -->
{% if request.user.is_authenticated %}
    {% block header_personal_area %}
    {% include 'components/header_personal_area.html' %}
    {% endblock %}
{% else %}
    {% block header %}
    {% include 'components/header.html' %}
    {% endblock %}

{% endif %}
{% block best %}
{% include 'components/best.html' %}
{% endblock %}
{% block services %}
{% include 'components/services.html' %}
{% endblock %}
{% block box-subtitle %}
{% include 'components/box-subtitle.html' %}
{% endblock %}

<!--  Главная страница  -->
{% block news %}
{% endblock %}

<!-- Показания Электроэнергии  -->
{% block elec_table %}
{% endblock %}

<!--  Документы  -->
{% block doc_list %}
{% endblock %}

<!--  Должники  -->
{% block debtors_table %}
{% endblock %}

<!--  Обратная связь  -->
{% block contact_us %}
{% endblock %}

<!--  О нас  -->
{% block content %}
{% endblock %}

<!--  Галерея  -->
{% block gallery_list %}
{% endblock %}

<!--  Регистрация  -->
{% block register_form %}
{% endblock %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/slick.min.js'%}"></script>
<script src="{% static 'js/fancybox.umd.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
<script src="{% static 'js/selectStyle.js'%}"></script>
</body>
</html>